<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Om sidan</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/"><li>Startsida</li></a>
            <a href="/about"><li>Om webbplatsen</li></a>
            <a href="/addCourse"><li>Lägg till kurser</li></a>
        </ul>
    </nav>
    <h1>Om sidan</h1>
</body>
</html>