/* General design */
body { 
    margin: 0px;
    background-color: #f2d7d3; 
}

main { 
    display: block;
    width: 80%;
    padding: 40px 5%;
    margin: 0px auto 0px auto;
    background-color: #f2eee9;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
    color: #e85234;
}

p, table, nav {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
}

p {
    max-width: 80ch;
}

footer {
    margin: 0px;
    padding: 20px;
    background-color: #e85234;
    color: #f2eee9;
}

/* Navigation design */ 

header {
    margin: 0px;
    height: 100px;
    background-color: #e85234;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.menuBtn {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

#openBtn {
    display: none;
    margin-left: auto;
    margin-right: 20px;
}

#closeBtn {
    display: none;
    margin-left: auto;
}

.line {
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #f2eee9;
}

#line1 {
    transform:rotate(45deg);
    background-color: #e85234;
}

#line2 {
    transform:rotate(-45deg);
    margin-top: -7px;
    background-color: #e85234;
}

ul {
    margin: 0px auto 0px 70px;
    display: flex;
    list-style-type: none;
}

ul > a {
    padding: 40px;
    text-decoration: none;
    color: #f2eee9;
}

.openPage {
    background-color: #f2eee9;
    color: #e85234;
}

ul > a:hover {
    background-color: #f2d7d3;
    color: #e85234;
}

/* Index design */ 
table {
    width: 80%;
}

td {
    padding: 10px 20px;
}

td > a {
    text-decoration: none;
}

thead {
    background-color:  #e85234;
    color: #f2eee9;
}

tbody > tr:hover {
    background-color: #f2d7d3;
}

tfoot {
    background-color: #f9b8af;
}

tfoot > tr > td {
    border-radius: 15px;
}

tfoot > tr > td > a {
    color: #e85234;
}

/* Add courses desing */
.errorDiv {
    display: flex;
}

.errorDiv > p {
    font-weight: 900;
    color:#d11f00;
}

form {
    width: 80%;
}

input {
    margin: 10px 0px;
}

#course, #code, #link {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #363636;
    border-radius: 5px;
}

#progression {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #363636;
    border-radius: 5px;
}

.btn {
    display: block;
    padding: 5px 10px;
    background-color: #e85234;
    color:#f2eee9;
    font-weight: 700;
    border: 1px solid #e85234;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ac3b25;
}

@media screen and (max-width: 900px) {
    table { width: 100%; }
}

@media screen and (max-width: 640px) {
    nav > ul { display: none; z-index: 5; flex-direction: column; margin-top: 290px; margin-left: auto; margin-right: 0px; padding: 40px 20px; background-color:#f9b8af; box-shadow: 0px 0px 15px rgba(0,0,0,0.3) }
    #mainMenu > a { color:#e85234; }
    .openPage { background-color: transparent; }
    #openBtn { display: flex; }
    main { width: 90%; }
    #tableSection { width: 100%; }
    #tableSection > h1 { width: 80%;}
}

@media screen and (max-width: 460px) {
    #tableMain { padding: 40px 0px; width: 100%; }
    table { width: 90%; }
    tbody > tr > td { padding: 10px 5px; }
}